

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid position-relative">

    <!-- Left image -->
    <a>
      <img routerLink="/home" class="imgback" src=".//public/assets/img/backbutton.jpg" alt="">
    </a>

    <!-- Centered brand -->
    <a class="navbar-brand tender position-absolute top-50 start-50 translate-middle" href="#">
      TENDER CUTS
    </a>

    <!-- Right toggler and nav links -->
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
          <a class="nav-link" href="/vegetable">Vegetable</a>
        </li>
      </ul>
    </div>

  </div>
</nav>












<div class="veg">
  <div><b>MEAT CATEGORIES</b></div>
</div>

<div class="cards-container">

   <div class="card">
    <img  routerLink="/chicken" src=".//public/assets/img/chicken.jpg" class="card-img-top" alt="Carrot">
    <div class="card-body">
      <h5 class="card-title">Chicken </h5>
      <p class="card-weight"> 1 kg</p>
      <p class="card-price"><b>M.R.P 120</b></p>
      <!-- <p class="card-delivery">Free delivery starting from Tomorrow 7 am - 10 am on orders over 600</p> -->
      <div class="card-actions">  
      <button class="add-btn" (click)="addToCart({ name: 'Chicken', price: 120, weight: '1kg', img: './/public/assets/img/chicken.jpg' })">Add to cart</button>
      <!-- <a  routerLink="/chicken" class="view-link" >View</a> -->
      </div>
    </div>
  </div>



  <div class="card">
    <img routerLink="/beef" src=".//public/assets/img/beef.png" class="card-img-top" alt="Cauliflower">
    <div class="card-body">
      <h5 class="card-title">Beef</h5>
      <p class="card-weight"> 1 kg</p>
      <p class="card-price"><b>M.R.P 400</b></p>
      <!-- <p class="card-delivery">Free delivery starting from Tomorrow 7 am - 10 am on orders over 800</p> -->
      <div class="card-actions">
      <button class="add-btn" (click)="addToCart({ name: 'Beef', price: 400, weight: '1kg', img: './/public/assets/img/beef.png' })" >Add to cart</button>
      <!-- <a  routerLink="/beef" class="view-link" >View</a> -->
      </div>
    </div>
  </div>



    <div class="card">
    <img routerLink="/pig" src=".//public/assets/img/pig.jpg" class="card-img-top" alt="Beetroot">
    <div class="card-body">
      <h5 class="card-title">Pig</h5>
      <p class="card-weight"> 1 kg</p>
      <p class="card-price"><b>M.R.P 200</b></p>
      <!-- <p class="card-delivery">Free delivery starting from Tomorrow 7 am - 10 am on orders over 600</p> -->
      <div class="card-actions">
      <button class="add-btn" (click)="addToCart({ name: 'Pig', price: 200, weight: '1kg', img: './/public/assets/img/pig.jpg' })" >Add to cart</button>
      <!-- <a  routerLink="/pig" class="view-link" >View</a> -->
      </div>
    </div>
  </div>




    <div class="card">
    <img  routerLink="/goat" src=".//public/assets/img/goat.webp" class="card-img-top" alt="Brinjal">
    <div class="card-body">
      <h5 class="card-title">Mutton</h5>
      <p class="card-weight"> 1 kg</p>
      <p class="card-price"><b>M.R.P 400</b></p>
      <!-- <p class="card-delivery">Free delivery starting from Tomorrow 7 am - 10 am on orders over 800</p> -->
      <div class="card-actions">
      <button class="add-btn" (click)="addToCart({ name: 'Mutton', price: 400, weight: '1kg', img: './/public/assets/img/goat.webp' })" >Add to cart</button>
      <!-- <a  routerLink="/goat" class="view-link" >View</a> -->
      </div>
    </div>
  </div>
</div>



<!-- <footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <b>TENDER CUTS</b>
    </div>
    <div class="footer-contact">
      <b>
        HMT Colony P.O <br>
        Kalamassery-683 503 <br>
        Cochin, Kerala <br>
        Telephone: +91 484 2754000, 2411460 to 63 <br>
        Fax: +91 484 2411468, 2754468 <br>
        Email: cstendercutsgmail.com <br>
        Phone: 9543754375
      </b>
    </div>
  </div>
</footer> -->





































<!-- <nav  class="navbar navbar-expand-lg bg-body-tertiary">
  <div  class="container-fluid">
    <div class="tender">
    <a class="navbar-brand" href="#">TENDER CUTS</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
        <a class="nav-link" href="/cart">Cart</a>
        <a class="nav-link" href="/vegetable">Vegetable</a>
        <a class="nav-link" href="#"></a>
        <a class="nav-link disabled" aria-disabled="true"></a>
      </div>
    </div>
  </div>
</nav>



<div class="veg">
<div><b>MEAT CATEGORIES</b></div>
</div>



<div class="cards-container">
  <div class="card">
    <img src=".//public/img/chicken.jpg" class="card-img-top" alt="Carrot">
    <div class="card-body">
      <h5 class="card-title">Chicken 1 kg</h5>
      <p class="card-price"><b>M.R.P 120</b></p>
      <p class="card-delivery">Free delivery starting from Tomorrow 7 am - 10 am on orders over 600</p>
      <div class="card-actions">  
      <button class="add-btn" (click)="addToCart({ name: 'Chicken', price: 120, weight: '1kg', img: './/public/img/chicken.jpg' })">Add to cart</button>
      <a  routerLink="/chicken" class="view-link" >View</a>
      </div>
    </div>
  </div>

  <div class="card">
    <img src=".//public/img/beef.png" class="card-img-top" alt="Cauliflower">
    <div class="card-body">
      <h5 class="card-title">Beef 1 kg</h5>
      <p class="card-price"><b>M.R.P 400</b></p>
      <p class="card-delivery">Free delivery starting from Tomorrow 7 am - 10 am on orders over 800</p>
      <div class="card-actions">
      <button class="add-btn" (click)="addToCart({ name: 'Beef', price: 400, weight: '1kg', img: './/public/img/beef.png' })" >Add to cart</button>
      <a  routerLink="/beef" class="view-link" >View</a>
      </div>
    </div>
  </div>

  <div class="card">
    <img src=".//public/img/pig.jpg" class="card-img-top" alt="Beetroot">
    <div class="card-body">
      <h5 class="card-title">Pig 1 kg</h5>
      <p class="card-price"><b>M.R.P 200</b></p>
      <p class="card-delivery">Free delivery starting from Tomorrow 7 am - 10 am on orders over 600</p>
      <div class="card-actions">
      <button class="add-btn" (click)="addToCart({ name: 'Pig', price: 200, weight: '1kg', img: './/public/img/pig.jpg' })" >Add to cart</button>
      <a  routerLink="/pig" class="view-link" >View</a>
      </div>
    </div>
  </div>

  <div class="card">
    <img src=".//public/img/goat.webp" class="card-img-top" alt="Brinjal">
    <div class="card-body">
      <h5 class="card-title">Mutton 1 kg</h5>
      <p class="card-price"><b>M.R.P 400</b></p>
      <p class="card-delivery">Free delivery starting from Tomorrow 7 am - 10 am on orders over 800</p>
      <div class="card-actions">
      <button class="add-btn" (click)="addToCart({ name: 'Mutton', price: 400, weight: '1kg', img: './/public/img/goat.webp' })" >Add to cart</button>
      <a  routerLink="/goat" class="view-link" >View</a>
      </div>
    </div>
  </div>
</div>



<div>
  <div class="box3">
    <div class="box4">
      <div class="text1"><b>TENDER CUTS</b></div>
    </div>
    <div class="box5">
      <div class="text">
      <b>
      HMT Colony P.O <br>
      Kalamassery-683 503 <br>
      Cochin, Kerala <br>
      Telephone: +91 484 2754000, 2411460 to 63 <br>
      Fax: +91 484 2411468, 2754468 <br> 
      Email: cstendercutsgmail.com <br>
      Phone: 9543754375
      </b>
      </div>
    </div>
  </div>
</div>


 -->
