
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid position-relative">

    <!-- Left image -->
    <a>
      <img routerLink="/vegetable" class="imgback" src=".//public/assets/img/backbutton.jpg" alt="">
    </a>

    <!-- Centered brand -->
    <a class="navbar-brand tender position-absolute top-50 start-50 translate-middle" href="#">
      TENDER CUTS
    </a>

    <!-- Right toggler and nav links -->
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
      </ul>
    </div>

  </div>
</nav>













<div class="boxes-container">
  <div class="box1">
    <img src=".//public/assets/img/beetroot.jpg" alt="Beetroot" class="product-img">
  </div>

  <div class="box2">
    <div class="product-title">Fresh Beetroot - 500g</div>

    <div class="product-details">
      <p><b>Diet Type:</b> Vegetarian</p>
      <p><b>Item Form:</b> Peeled</p>
      <p><b>Brand:</b> Fresh</p>
      <p><b>Item Weight:</b> 500 Grams</p>
    </div>

    <div class="product-about">
      <h4>About this item</h4>
      <ul>
        <li>Good Source of Vitamin C, Iron, Potassium, Folate, and Dietary Fiber</li>
        <li>Can be consumed as juice, salad, chutney, soup, dry vegetable, fries or in boiled or steamed forms</li>
        <li>Store in a cool and dry place, away from direct sunlight.</li>
        <li>It is called "Chakundar" in Hindi</li>
      </ul>
    </div>

    <!-- <button class="add-btn" routerLink="/vegetable">Vegetables</button> -->
  </div>
</div>

<!-- <footer class="footer">
  <div class="footer-left">
    <div class="text1"><b>TENDER CUTS</b></div>
  </div>
  <div class="footer-right">
    <div class="text">
      <b>
        HMT Colony P.O <br>
        Kalamassery-683 503 <br>
        Cochin, Kerala <br>
        Telephone: +91 484 2754000, 2411460 to 63 <br>
        Fax: +91 484 2411468, 2754468 <br>
        Email: cstendercutsgmail.com <br>
        Phone: 9543754375
      </b>
    </div>
  </div>
</footer> -->
























<!-- <nav  class="navbar navbar-expand-lg bg-body-tertiary">
  <div  class="container-fluid">
    <div class="tender">
    <a class="navbar-brand" href="#">TENDER CUTS</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
        <a class="nav-link" href="/cart">Cart</a>
        <a class="nav-link" href="#"></a>
        <a class="nav-link disabled" aria-disabled="true"></a>
      </div>
    </div>
  </div>
</nav>



<div class="boxes-container">
  <div class="box1">
    <div>
      <img src=".//public/img/beetroot.jpg" alt="Carrot" class="product-img">
    </div>
  </div>
  

  <div class="box2">
    <div class="product-title">
      Fresh Beetroot - 500g
    </div>

    <div class="product-details">    
      <p><b>Diet Type:</b> Vegetarian</p>
      <p><b>Item Form:</b> Peeled</p>
      <p><b>Brand:</b> Fresh</p>
      <p><b>Item Weight:</b> 500 Grams</p>
    </div>

    <div class="product-about">
      <h4>About this item</h4>
      <ul>
        <li>Good Source of Vitamin C, Iron, Potassium, Folate and Dietary Fiber</li>
        <li>Can be consumed as juice, salad, chutney, soup, dry vegetable, fries or in boiled or steamed forms</li>
        <li>Store in cool and dry place, away from direct sunlight.</li>
        <li>It is called "Chakundar" in hindi </li>
      </ul>
    </div>
    <button class="add-btn" routerLink="/vegetable">Vegetables</button>
  </div>
</div>



<div>
  <div class="box3">
    <div class="box4">
      <div class="text1"><b>TENDER CUTS</b></div>
    </div>
    <div class="box5">
      <div class="text">
      <b>
      HMT Colony P.O <br>
      Kalamassery-683 503 <br>
      Cochin, Kerala <br>
      Telephone: +91 484 2754000, 2411460 to 63 <br>
      Fax: +91 484 2411468, 2754468 <br> 
      Email: cstendercutsgmail.com <br>
      Phone: 9543754375
      </b>
      </div>
    </div>
  </div>
</div>


 -->
